section {
    padding: 5rem 25%;
}


/* Typeface */

html {
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 1rem;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    padding-top: 2rem;
}


/* Colours */

.light {
    background-color: #D7EDDA;
}

.dark {
    background-color: #385B4F;
    color: white;
}

.light h1, h2, h3, h4, h5, h6 {
    color: #385B4F;
}

.dark h1, h2, h3, h4, h5, h6 {
    color: #a6bb8d;
}


/* Featured Image */

.featured-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Homepage */

.homepage-section {
    padding: 5rem 5%;
}

@media only screen and (max-width: 600px) {
    .homepage-section {
        padding: 3rem 0;
    }
}


/* Clients */

.client-logo {
    border: 1rem solid transparent;
}


/* Testimonials */

.testimonial {
    text-align: center;
    font-size: larger;
    color: #a6bb8d;
    background-color: #385B4F;
}

.quotes {
    padding-bottom: 1rem;
}


/* Contact */

.contact i {
    padding: 1rem 0;
}


/* Footer */

.footer {
    text-align: center;
    padding: 1rem 0;
    font-size: 10px;
}