html, body {
    margin: 0;
    width: 100vw;
}

section {
    padding: 4rem 25%;
}


/* Typeface */

html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 1rem 1rem;
    text-align: center;
}

h3, h4, h5, h6 {
    padding: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}


/* Colours */

.light {
    background-color: #D7EDDA;
    color: #385B4F;
}

.dark {
    background-color: #385B4F;
    color: #D7EDDA;
}

.button {
    background-color: #385B4F;
    border: transparent;
}


/* Navigation */

.navbar {
    padding: 0.5rem 1rem;
    background-color: transparent;
}

.navbar.scrolled {
    background-color: #385B4F !important;
    transition: background-color 200ms linear;
}

#contact .navbar {
    background-color: #385B4F !important;
}

.navbar-brand {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
}


/* Featured Image */

.img-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: #385B4F;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featured-img {
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 35%;
}

.homepage .featured-img {
    height: calc(100vh + 0.5rem);
}


/* Homepage */

.featured-pages {
    padding: 5rem 3rem;
}

.featured-pages a {
    text-decoration: none;
}

.page-box {
    border-radius: 2rem;
    height: 24vw;
}


/* Clients */

.client-logo {
    border: 1rem solid transparent;
}


/* Testimonials */

.testimonials {
    text-align: center;
    color: #D7EDDA;
    background-color: #385B4F;
    padding: 2rem 0;
}

.testimonials h2 {
    padding: 2rem 0 0;
}

.testimonial-text {
    padding: 2rem 25% 0;
}

.quotes {
    padding-bottom: 1rem;
}

.bio-text {
    position: relative;
    bottom: 1rem;
    font-size: smaller;
}


/* Contact */

.contact-header {
    padding: 2rem 0 1rem;
}

.social-links {
    padding: 1rem 0;
    color: #385B4F;
    float: right;
}

input[type="text"], input[type="email"], textarea {
    background-color: #D7EDDA;
    border: 2px solid #385B4F;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    background-color: #D7EDDA;
    border: 2px solid #385B4F;
}


/* Footer */

.footer {
    text-align: center;
    padding: 1rem 0;
    font-size: 14px;
    font-weight: lighter;
    color: #D7EDDA;
    border-top: darkslategray solid 1px;
    height: 3.2rem;
}


/* Mobile Responsive */

@media only screen and (max-width: 600px) {
    .lg-screen { display: none; }

    section {
        padding: 2rem 10%;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 0 1rem;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .testimonial-text {
        padding: 2rem 10% 0;
    }

    .contact-header {
        padding-bottom: 0;
    }

    .social-links {
        padding: 0.7rem 0;
    }

    label {
        padding: 0;
        margin: 0;
    }

    input[type="text"], input[type="email"], textarea {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 600px) {
    .sm-screen { display: none; }
}